* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
}

.header-box {
  height: 75px;
  width: 100%;
  background: #01a2c9;
  position: relative;
}

.logo{
  width: 150px;
  position: absolute;
  top: -20px;
  left: -30px;
}

.burger {
  width: 50px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.main-image-box {
  height: 175px;
  position: relative;
}

.main-image-box-image {
  position: absolute;
  width: 100%;
  height: 175px;
  background: url('./images/bermudaCover.jpg') center no-repeat;
  background-size: cover;
}

.main-image-box-text {
  position: absolute;
  color: white;
  border: 2px solid white;
  padding: 5px 25px;
  line-height: 0;
  display: flex;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  /*transform: translateY(-50%);*/
}

.main-bottom-container {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}

.img-scroll {
  overflow: auto;
  white-space: nowrap;
}

.img-scroll img {
  /*width: 100%;*/
  height: 100px;
  display: inline-block;
}
